/*base*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  text-transform: capitalize;
}

body {
  -webkit-text-size-adjust: 100%;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

a:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #fa5555;
}

img {
  width: 100vw;
  height: auto;
}

.square {
  width: 25vw;
  height: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 4.5%;
  background-color: rgba(0, 0, 0, 0.7);
}

.fa-envelope {
  font-size: 30px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.fa-envelope:hover {
  color: #fd6e6e;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.fa-line {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 30px;
}

.fa-line:hover {
  color: #05c756;
}

.fa-twitter {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 30px;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-facebook {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 30px;
}

.fa-facebook:hover {
  color: #1e3261;
}

.fa-instagram {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 30px;
}

.fa-instagram:hover {
  color: #4c4c4c;
}

.fadein {
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
}

.fadein.scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.section-title {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  font-size: 38px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.section-head {
  font-size: 25px;
  font-weight: 100;
}

.section-text {
  font-size: 18px;
  font-weight: 100;
}

/*header*/
.header {
  height: 100vh;
  background-image: url(../image/top-bg.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header .upper-part {
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .upper-part .fix-nav {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .upper-part .fix-nav.hide {
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .upper-part .title {
  margin-top: 15px;
  margin-left: 6%;
  margin-bottom: 0px;
  width: 450px;
  display: none;
}

.header .upper-part .title .header-logo {
  width: 100%;
}

.header .upper-part .menu-btn {
  position: fixed;
  top: 1%;
  left: 83%;
  margin: 0px;
  visibility: hidden;
  display: none;
  z-index: 2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .upper-part .menu-btn .menu-bar {
  background-color: black;
  width: 60px;
  margin-bottom: 20px;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.header .upper-part .menu-btn .menu-bar:last-child {
  margin-bottom: 0px;
}

.header .upper-part .menu-btn.-active {
  margin-top: 45px;
}

.header .upper-part .menu-btn.-active .menu-bar {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  margin-bottom: 0px;
}

.header .upper-part .menu-btn.-active .menu-bar:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .upper-part .menu-btn.-active .menu-bar:nth-child(2) {
  display: none;
}

.header .upper-part .menu-btn.-active .menu-bar:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .upper-part .menu-btn:hover .menu-bar {
  background-color: #fa5555;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .upper-part .nav-menu {
  position: fixed;
  top: 0%;
  left: 60%;
  z-index: 1;
  margin-top: 0px;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.header .upper-part .nav-menu.-active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.header .upper-part .nav-menu .nav-list {
  margin-top: 60px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .upper-part .nav-menu .nav-list .nav-item {
  display: none;
  font-size: 20px;
  width: 100px;
  text-align: center;
  display: inline;
}

.header .upper-part .nav-menu .nav-list .nav-item :last-child {
  margin-right: 20px;
}

.header .upper-part .nav-menu .nav-list .nav-item a {
  display: none;
}

.header .message {
  display: none;
  position: absolute;
  padding: 25px 15px;
  top: 81%;
  left: 32%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: none;
  width: 55%;
}

.header .message .head {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size:33px;
  margin: 0px;
  margin-bottom: 15px;
}

.header .message .text {
  font-size: 22px;
  margin-left: 5px;
  line-height: 1.5;
}

/*about*/
.about .wrapper .section-title {
  margin-top: 70px;
}

.about .wrapper .square {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about .about-studio {
  width: 84%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.about .about-studio .section-head {
  margin-left: 30px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.about .about-studio .section-text {
  margin-left: 30px;
  width: 70%;
  line-height: 1.5;
}

.about .about-studio .square {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 75%;
}

.about .about-me {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-me .section-head {
  margin-top: 0px;
  margin-bottom: 20px;
}

.about .about-me .text-zone {
  margin-left: 30px;
  max-width: 500px;
}

.about .about-me .text-zone .section-text .profile-list .profile-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
}

.about .about-me .text-zone .section-text .profile-list .profile-item .profile-category {
  min-width: 70px;
  margin: 0px;
  margin-top: 10px;
  line-height: 1.5;
}

.about .about-me .text-zone .section-text .profile-list .profile-item .profile-content {
  margin: 0px;
  line-height: 1.5;
  margin-top: 10px;
}

.about .about-me .text-zone .section-text .profile-list .profile-item .profile-comment {
  line-height: 1.5;
}

.about .about-me .image-zone {
  width: 40%;
  max-width: 300px;
  -webkit-box-shadow: 0px 0px 3px black;
          box-shadow: 0px 0px 3px black;
}

.about .about-me .image-zone img {
  width: 100%;
}

/*works*/
.works .wrapper .section-text {
  width: 75%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 120px;
}

.works .wrapper .work-list {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 30px;
}

.works .wrapper .work-list .work-item {
  margin-bottom: 20px;
  margin-bottom: 50px;
}

.works .wrapper .work-list .work-item img {
  width: 100%;
}

.works .wrapper .work-list .work-item .explanation {
  height: auto;
  text-align: left;
  padding: 10px 20px;
}

.works .wrapper .work-list .work-item .explanation .site-name {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 22px;
}

.works .wrapper .work-list .work-item .explanation .text {
  font-size: 18px;
}

.works .work-flow {
  text-align: center;
}

.works .work-flow .section-text {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.works .work-flow .flow-title {
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
}

.works .work-flow .step {
  padding: 10px 15px;
  margin-right: auto;
  margin-left: auto;
  width: 65%;
  max-width: 600px;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
}

.works .work-flow .step .step-title {
  font-size: 22px;
  margin: 0px;
}

.works .work-flow .step img {
  margin: 0px;
  width: 50%;
}

.works .work-flow .step .step-content {
  display: inline-block;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 17px;
}

.works .work-flow .next {
  font-size: 45px;
}

.works .square {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 70%;
}

.works .square-2 {
  width: 25vw;
  height: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 4.5%;
  background-color: rgba(0, 0, 0, 0.7);
}

/*price*/
.price .wrapper .section-title {
  margin-bottom: 100px;
}

.price .wrapper .section-text {
  width: 75%;
  line-height: 1.5;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 120px;
}

.price .wrapper .section-text span {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
}

.price .wrapper .plan-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 88%;
  margin-right: auto;
  margin-left: auto;
}

.price .wrapper .plan-list .plan-item {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  border-radius: 8px;
  width: 60%;
  max-width: 420px;
  padding: 0px 10px;
}

.price .wrapper .plan-list .plan-item .plan-name {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

.price .wrapper .plan-list .plan-item .icon-frame {
  text-align: center;
  width: 100%;
}

.price .wrapper .plan-list .plan-item .icon-frame .icon {
  width: 75%;
}

.price .wrapper .plan-list .plan-item .price-example {
  text-align: center;
}

.price .wrapper .plan-list .plan-item .price-example .price-example-list {
  font-size: 20px;
  text-align: center;
}

.price .wrapper .plan-list .plan-item .price-example .price-example-item {
  display: block;
  text-align: left;
  font-size: 17px;
}

.price .wrapper .plan-list .plan-item .price-example .price-caution {
  text-align: left;
  font-size: 15px;
}

.price .wrapper .caution {
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  text-align: center;
}

.price .wrapper .caution .caution-text {
  font-size: 18px;
  display: inline-block;
  text-align: left;
}

.price .square {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 70%;
}

/*contact*/
.contact .wrapper {
  margin-bottom: 50px;
}

.contact .wrapper .link {
  text-align: center;
  line-height: 1.5;
}

.contact .wrapper .link p {
  display: inline-block;
  text-align: left;
  width: 68%;
  font-size: 18px;
}

.contact .wrapper .link i {
  width: 100px;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact .square {
  margin-bottom: 50px;
  margin-left: 4.5%;
}

/*footer*/
.footer {
  text-align: center;
}

.footer .footer-logo {
  width: 450px;
  margin: 30px auto 5px auto;
}

.footer .footer-logo img {
  width: 100%;
}

.footer .copyright {
  font-size: 15px;
  margin: 5px auto 30px auto;
}
/*# sourceMappingURL=style.css.map */
