/*responsive*/
@media screen and (max-width:1080px) {
    a {
        :hover {
            color: black;
        }
    }

    .fa-envelope {
        font-size: 30px;
        transition: all 0.4s;

        &:hover {
            color: rgb(253, 110, 110);
            transition: all 0.4s;
        }
    }

    .fa-line {
        &:hover {
            color: rgb(5, 199, 86);
        }

        transition: all 0.4s;
        font-size: 30px;
    }

    .fa-twitter {
        &:hover {
            color: rgb(0, 172, 237);
        }

        transition: all 0.4s;
        font-size: 30px;
    }

    .fa-facebook {
        &:hover {
            color: rgb(30, 50, 97);
        }

        transition: all 0.4s;
        font-size: 30px;
    }

    .fa-instagram {
        &:hover {
            color: rgb(76, 76, 76);
        }

        transition: all 0.4s;
        font-size: 30px;
    }

    .section-title {
        font-size: 35px;
    }

    .section-head {
        font-size: 22px
    }

    .section-text {
        font-size: 17px;
    }

    .header {
        .upper-part {
            .title {
                margin-top: 20px;
                width: 400px;
            }

            .menu-btn {
                visibility: visible;
                top: 0%;
                left: 85%;
                margin-top: 28px;
            }

            .nav-menu {
                background-color: rgba($color: white, $alpha: 0.7);
                text-align: center;
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0%;
                left: 50%;
                transform: translateX(-50%);
                padding-top: 70px;
                opacity: 0;
                visibility: hidden;

                .nav-list {
                    margin: 0px;
                    flex-flow: column;

                    .nav-item {
                        display: block;
                        margin-right: auto;
                        margin-left: auto;
                        height: 100px;

                        .capitalize {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }

        .message {
            .head {
                font-size: 38px;
            }

            .text {
                font-size: 20px;
            }
        }
    }

    .about {
        .wrapper {
            .about-me {
                flex-flow: column-reverse;

                .image-zone {
                    width: 50%;
                    max-width: 350px;
                }
            }

            .text-zone {
                margin-top: 50px;
                width: 80%;
                max-width: 600px;
            }
        }
    }

    .works {
        .wrapper {
            .work-list {
                .work-item {
                    .explanation {
                        .site-name {
                            font-size: 20px;
                        }

                        .text {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .work-flow {
            .flow-title {
                font-size: 20px;
            }

            .step {
                .step-title {
                    font-size: 20px;
                }

                .step-content {
                    font-size: 17px;
                }
            }
        }
    }

    .price {
        .wrapper {
            .section-text {
                margin-bottom: 80px;
            }

            .plan-list {
                flex-flow: column;

                .plan-item {
                    margin-right: auto;
                    margin-left: auto;

                    &:nth-child(2) {
                        margin-top: 60px;
                    }

                    .plan-name {
                        font-size: 23px;
                    }

                    .icon-frame {
                        max-width: 320px;
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
            }

            .caution {
                .caution-text {
                    font-size: 17px;
                }
            }
        }
    }

    .contact {
        .link {
            p {
                font-size: 17px;
            }
        }
    }
}

@media screen and (max-width:620px) {
    .fa-envelope {
        font-size: 30px;
        transition: all 0.4s;

        &:hover {
            color: black;
        }

    }

    .fa-line {

        &:hover {
            color: black;
        }

    }

    .fa-twitter {
        &:hover {
            color: black;
        }

    }

    .fa-facebook {
        &:hover {
            color: black;
        }
    }


    .fa-instagram {
        &:hover {
            color: black;
        }

    }

    .header {
        .message {
            width: 80%;
            margin-left: 13%;

            .head {
                font-size: 33px;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .header {
        background-image: url(../image/top-bg-sp.png);
        background-position: center;
        background-size: cover;
        height: 650px;

        .upper-part {
            .title {
                width: 300px;
            }

            .menu-btn {
                margin-top: 30px;

                .menu-bar {
                    width: 40px;
                    margin-bottom: 15px;
                }
            }
        }

        .message {
            margin-left: 10%;
            width: 75%;

            .head {
                font-size: 30px;
            }

            .text {
                font-size: 18px;
                margin-left: 2px;
            }
        }
    }

    .works {
        .wrapper {
            .work-list {
                .work-item {
                    .explanation {
                        .site-name {
                            font-size: 16px;
                        }

                        .text {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .footer {
        .footer-logo {
            width: 70%;
        }

        .copyright {
            font-size: 13px;
        }
    }
}

@media screen and (max-width:420px) {
    .square {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .section-title {
        font-size: 30px;
    }

    .section-head {
        font-size: 18px
    }

    .section-text {
        font-size: 15px;
    }

    .header {
        background-image: url(../image/top-bg-sp.png);
        background-position: center;
        background-size: cover;
        height: 650px;

        .upper-part {
            .title {
                width: 250px;
            }

            .menu-btn {
                margin-top: 33px;

                .menu-bar {
                    width: 35px;
                    margin-bottom: 12px;
                }
            }
        }

        .message {
            margin-left: 6%;
            width: 75%;

            .head {
                font-size: 25px;
            }

            .text {
                font-size: 18px;
                margin-left: 2px;
            }
        }
    }

    .about {
        .wrapper {
            .about-studio {
                .section-text {
                    width: 80%;
                }
            }

            .about-me {
                .text-zone {
                    width: 80%;
                    margin-top: 60px;
                }
            }
        }
    }

    .works {
        .wrapper {
            .work-list {
                .work-item {
                    .explanation {
                        .site-name {
                            font-size: 15px;
                        }

                        .text {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .work-flow {
            .flow-title {
                font-size: 20px;
            }

            .step {
                width: 70%;

                .step-title {
                    font-size: 17px;
                }

                .step-content {
                    font-size: 15px;
                }
            }

            .next {
                font-size: 30px;
                margin: 40px 0px;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    .price {
        .wrapper {
            .section-title {
                margin-bottom: 50px;
            }

            .section-text {
                width: 80%;
                line-height: 1.5;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 60px;

                span {
                    font-family: 'hiragino sans w2', sans-serif;
                }
            }

            .plan-list {
                display: flex;
                justify-content: space-around;
                width: 85%;
                margin-right: auto;
                margin-left: auto;

                .plan-item {
                    font-family: 'hiragino sans w1', sans-serif;
                    border-radius: 8px;
                    width: 100%;
                    max-width: 420px;
                    padding: 0px 10px;

                    .plan-name {
                        text-align: center;
                        font-size: 20px;
                        margin-top: 10px;
                    }

                    .icon-frame {
                        text-align: center;
                        width: 100%;

                        .icon {
                            width: 75%;
                        }
                    }

                    .price-example {
                        text-align: center;

                        .price-example-list {
                            font-size: 18px;
                            text-align: center;
                        }

                        .price-example-item {
                            display: block;
                            text-align: left;
                            font-size: 15px;
                        }

                        .price-caution {
                            text-align: left;
                            font-size: 13px;
                        }
                    }
                }
            }

            .caution {
                margin-top: 80px;
                margin-right: auto;
                margin-left: auto;
                width: 85%;
                text-align: center;

                .caution-text {
                    font-size: 15px;
                    display: inline-block;
                    text-align: left;

                }
            }
        }
    }

    .contact {
        .wrapper {
            .link {
                p {
                    font-size: 15px;
                }

                i {
                    font-size: 35px;
                }
            }
        }
    }

    .footer {
        .footer-logo {
            width: 70%;
        }

        .copyright {
            font-size: 10px;
        }
    }
}

@media screen and (max-width:330px) {
    .header {
        background-image: url(../image/top-bg-sp.png);
        background-position: center;
        background-size: cover;
        height: 650px;

        .upper-part {
            .title {
                width: 230px;
            }

            .menu-btn {
                margin-top: 33px;

                .menu-bar {
                    width: 35px;
                    margin-bottom: 12px;
                }
            }
        }

        .message {
            margin-left: 10%;
            width: 80%;

            .head {
                font-size: 23px;
            }

            .text {
                font-size: 16px;
                margin-left: 2px;
            }
        }
    }

    .footer {
        .footer-logo {
            width: 70%;
        }

        .copyright {
            font-size: 10px;
        }
    }
}

@media screen and (max-width:285px) {
    .header {
        background-image: url(../image/top-bg-sp.png);
        background-size: cover;
        background-position: center;

        .upper-part {
            .title {
                width: 200px;
            }
        }
    }
}

@media screen and (max-height:550px) {
    .header {
        .upper-part {
            .nav-menu {
                padding-top: 20px;
                height: 100%;

                .nav-list {
                    margin-top: 0px;
                    margin-right: 0px;
                    height: 100%;

                    .nav-item {
                        height: 20%;
                    }
                }
            }
        }
    }
}